<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93071395979-cdjojadnbn1t12e1umto8jcvvh4p1qi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93071395979-cdjojadnbn1t12e1umto8jcvvh4p1qi2</string>
	<key>API_KEY</key>
	<string>AIzaSyCYwywpSc_cLzNF01cxl5UsykNplhN0a_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>93071395979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-94433</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-94433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93071395979:ios:be2c293e967e3d022f988e</string>
</dict>
</plist>